<a href="https://colab.research.google.com/github/Vaishnavi-Naregavi/DL-Collab/blob/main/Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('/content/drive/MyDrive/Dataset/iris.csv')

In [9]:
data

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [3]:
class classifier:                   #clreating a class classifier
  def __init__(self,k=4):           #defining a function to assign value of k
    self.k=k                        #self is an accessing variable of that class and the value of k is assigned to it's instance        
  
  
  def fit(self,X,Y):                #creating a function to the fit the data in the model  
    assert len(X)==len(Y)           #using assert method to compare the lenght of X set and Y set
    self.X_train=X                  #assigning the value of X
    self.Y_train=Y                  #assigning the value of Y

  def distance(self,x1,x2):         #defining a function for calculating Euclideans distance
    x1,x2 = np.array(x1),np.array(x2)#converting the values to arrays
    distance=0                      #initializing distance as 0
    for i in range(len(x1)-1):      #executing the for loop for len(x1)-1 times 
      distance+=(x1[i]-x2[i])**2    #calulating the distance
    return np.sqrt(distance)        #returning the square root of the calculated distance

  def predict(self,X_test):
    sorted_output = []              #instantiating empty list to store sorted outputs
    for i in range(len(X_test)):    #to iterate tillthe length of X_test
      distances = []                #hold the value of distance calculations
      neighbors = []                #to store the neighbours
      for j in range(len(self.X_train)): #executing this loop so that X_train data gets fitted in the model
        dist = self.distance(self.X_train[j],X_test[i]) #this will calculate distance using the instance of X_train data and the overall distance of the X_test data
        distances.append([dist,j])  #the above calulation is added to the distance list  
      distances.sort()              #the list is sorted
      distances = distances[0:self.k] #slicing the list down to its mostr relevant data points  i.e. 0:k, where k is  the total number of neighbors
      for _, j in distances:        #loop for each instance in the sliced distances
        neighbors.append(self.Y_train[j]) #it appends the Y_train value of the instance to the list
      ans = max(neighbors)          #max from the list of possible neighbors is stored 
      sorted_output.append(ans)     #the max value is appended to the sorted list
    return sorted_output            #returniong the sorted output

  def score(self,X_test,Y_test):    #function for calculating final score for prediction
    predictions = self.predict(X_test) #creating a list of predictions taken by executing the X_test and passing it through predict method
    return(predictions == Y_test).sum()/len(Y_test)   #taking the predictions with the Y_test and summing the value, dividing it by the lenght of the Y_test to give us the percentage